<!DOCTYPE html>
<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{title}}</title>
</head>

<body>
    <h3>{{title}}</h2>
    <h5> Hello, {{username}}</h5>
    {{#each messages}}
        <div style=" padding: 10px">
            <div>{{this.subject}}</div>
            <div>{{this.date}}</div>
            <div>{{this.from}}</div>
        </div>
    {{/each}}
    <a href="email/new" class="btn" type="button">Send mail</a>
    <a href="profile" class="btn" type="button">Add Profile</a>
</body>

</html>